#main-theorem {
	position: fixed;
	width: 50%;
	height: 20%;
	top: 35%;
	left: 25%;
	background-color: #6A6;
}

#round-efficient {
	position: fixed;
	width: 30%;
	height: 15%;
	right: 20%;
	bottom: 25%;
	background-color: #66A;
}

.result {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

#arrow {
	position: fixed;
	width: 0;
	height: 0;

	left: 55%;
	bottom: 40%;

	border-style: solid;
	border-width: 0 40px 20px 40px;
	border-color: #66A transparent;
}

.statement {
	margin: 30px;
}
